.hamburger-menu {
    position: relative;
}

.hamburger-icon {
    width: 30px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-icon .line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease; 
}

.hamburger-icon.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-icon.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}