.card {
    display: flex;
    flex-direction: column;
    gap:4;

    div {
        display: flex;
        flex-direction: row;
        gap: 2;
    }
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

/* animate new box */
.new-box {
	animation: append-animate .3s linear;
}